body {
  margin-top: 20px;
  /* background: #f0f8ff; */
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.2rem;
}

.card-header:first-child {
  border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;
}

.card-header {
  border-bottom-width: 1px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2;
}

.input-button::placeholder {
  color: white;
}

.toast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 49px;
  gap: 10px;

  position: absolute;
  width: 258px;
  height: 73px;
  right: 20px;
  top: 120px;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;

  background: #463a84!;
  border-radius: 24px;
}
@keyframes fade-out {
  0% {opacity: 1;}
  20% {opacity: 1;}
  100% {opacity: 0;}
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 4s;
  animation-fill-mode: both;
}
