#navbar {
  /* border:solid red; */
  height: 60px;
  display: flex;
  background-color: rgb(5, 55, 120);
}
#but {
  margin-left: 50px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(5, 55, 120);
  color: white;
  border-color: white;
}
#navbar > div > img {
  width: 30px;
  margin-left: 800px;
  border-radius: 50px;
  margin-top: 15px;
}
#navbar > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 250px;
  margin-top: 13px;
}
#inputsec {
  /* border:solid red; */
  width: 450px;
  padding-left: 10px;
  margin-left: 600px;
  margin-top: 100px;
}

#inputsec > h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: bold;
}
#inputsec > input {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#inputsec > button {
  padding: 10px;
  width: 323px;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  background-color: rgb(8, 96, 190);
  border: 0px;
}
#inputsec > p {
  margin-left: 80px;
}
#signuplogo {
  width: 340px;
  /* border:solid red; */
  height: 70px;
  margin-left: 600px;
}
#signuplogo > div > img {
  width: 80px;
  height: 70px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#signuplogo > div {
  display: flex;
  justify-content: space-evenly;
}
body > h3 {
  margin-left: 690px;
  color: rgb(8, 123, 254);
  margin-top: 50px;
}
body > p {
  width: 400px;
  margin-left: 570px;
  margin-top: 50px;
  text-align-last: center;
  color: rgb(166, 161, 161);
}
body > p > a {
  color: rgb(8, 123, 254);
}
.lastp {
  width: 300px;
  margin-left: 620px;
  color: rgb(166, 161, 161);
}

.toast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 49px;
  gap: 10px;
  
  position: absolute;
  width: 258px;
  height: 73px;
  right: 20px;
  top: 120px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;
  
  background: #463A84;
  border-radius: 24px;
}
@keyframes fade-out {
  0% {opacity: 1;}
  20% {opacity: 1;}
  100% {opacity: 0;}
  }
.fade-out {
  animation-name: fade-out;
  animation-duration: 4s;
  animation-fill-mode: both;
}