{% extends 'base.html' %} {% block head %}

<title>loginpage</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %} {% block body %}
<div id="navbar">
  <a>Booker.com</a>
</div>
<form id="inputsec" action="/login" method="POST">
  <h2>Enter your account information</h2>
  <p>Please enter your Booker.com account information</p>
  <p></p>

  <label for="">Email</label><br />
  <input id="email" name="email" type="email" /><br />
  <label for="">Password</label><br />
  <input id="pass" name="pass" type="password" /><br />
  <button id="signin" name="submit">Sign in</button>
  <p class="or">or</p>
  <button name="to_signup">Sign Up to a new account</button>
</form>

<h3>Forgotten your password?</h3>

<p>
  By signing in or creating an account, you agree with ou
  <a>Terms & conditions</a> and <a>Privacy statement</a>
</p>
<p class="lastp">All rights reserved. Copyright (2023 - *) - Booker.com™</p>

{% endblock %}
