<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/itinerary.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      .form-check-input[type="checkbox"] {
        transform: scale(0.5); /* Adjust the scale value as needed */
        align-self: flex-start;
        margin-top: 0.25rem; /* Adjust the margin as needed */
      }
    </style>
  </head>
  <body>
    <div class="container p-0">
      <h1 class="h3 mb-3">Settings</h1>
      <div class="row">
        <div class="col-md-5 col-xl-4">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">Profile Settings</h5>
            </div>
            <div class="list-group list-group-flush" role="tablist">
              <a
                class="list-group-item list-group-item-action active"
                data-toggle="list"
                href="#account"
                role="tab"
              >
                Account
              </a>
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#password"
                role="tab"
              >
                Password
              </a>
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#email-notifications"
                role="tab"
              >
                Email notifications
              </a>
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#booking"
                role="tab"
              >
                Your Bookings
              </a>
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#itinerary"
                role="tab"
              >
                Itinerary
              </a>
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#delete-account"
                role="tab"
              >
                Delete account
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xl-8">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
              <div class="card">
                <div class="card-header">
                  <div class="card-actions float-right">
                    <div class="dropdown show">
                      <a href="#" data-toggle="dropdown" data-display="static">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-more-horizontal align-middle"
                        >
                          <circle cx="12" cy="12" r="1"></circle>
                          <circle cx="19" cy="12" r="1"></circle>
                          <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title mb-0">Public info</h5>
                </div>
                <div class="card-body">
                  <form action="/profile", method="POST" enctype=multipart/form-data accept="image/png, image/gif, image/jpeg">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="inputUsername">Username</label>
                          <input
                            type="text"
                            class="form-control"
                            id="inputUsername"
                            placeholder={{ user.name }}
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputUsername">Biography</label>
                          <textarea
                            rows="2"
                            class="form-control"
                            id="inputBio"
                            placeholder="Tell something about yourself"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="text-center">
                          <img
                            alt="Andrew Jones"
                            src= {{ url_for('static', filename='images/' + user.pfp_path) }}
                            class="rounded-circle img-responsive mt-2"
                            width="128"
                            height="128"
                          />
                          <input type="file" name="pfp" style="display: none" id="pfp"></input>
                          <label for="pfp" type="file" class="mt-2 btn btn-primary input-button">Upload</label>
                          <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="password" role="tabpanel">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Password</h5>
                  <form action="/profile" method="POST">
                    <div class="form-group">
                      <label for="inputPasswordCurrent">Current password</label>
                      <input type="password" class="form-control" id="inputPasswordCurrent" name="passwordCurrent"/>
                    </div>
                    <div class="form-group">
                      <label for="inputPasswordNew">New password</label>
                      <input type="password" class="form-control" id="inputPasswordNew" name="passwordNew"/>
                    </div>
                    <div class="form-group">
                      <label for="inputPasswordNew2">Verify password</label>
                      <input type="password" class="form-control" id="inputPasswordNew2" name="passwordNew2"/>
                    </div>
                    <button type="submit" class="btn btn-primary" name="password">Save changes</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="booking" role="tabpanel">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Booking List</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        {% for header in bookingTableHeaders %}
                        <th>{{ header }}</th>
                        {% endfor %}
                        <!-- <th>Booking ID</th>
                        <th>Location</th>
                        <th>Duration of Stay</th>
                        <th>Date</th> -->
                      </tr>
                    </thead>
                    <tbody>

                      {% for booking in bookingTableRow %}
                        <tr>
                          {% for cell in booking %}
                            <td>{{ cell }}</td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                      
                      <!-- <tr>
                        <td>1</td>
                        <td>Paris</td>
                        <td>5 nights</td>
                        <td>2023-05-15</td>
                      </tr> -->
                      <!-- <tr>
                        <td>2</td>
                        <td>London</td>
                        <td>3 nights</td>
                        <td>2023-05-16</td>
                      </tr> -->
                      <!-- Add more rows for additional bookings -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="email-notifications" role="tabpanel">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Email Notifications</h5>
                  <form>
                    <div class="form-group">
                      <label for="inputEmail">Email Address</label>
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputEnableNotifications">Enable Notifications</label>
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="inputEnableNotifications"
                        />
                        <label class="form-check-label" for="inputEnableNotifications">Yes, enable email notifications</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="itinerary" role="tabpanel">
              <div class="popup-box">
                <div class="popup">
                  <div class="content">
                    <header>
                      <p></p>
                      <i class="uil uil-times"></i>
                    </header>
                    <form action="#">
                      <div class="row title">
                        <label>Title</label>
                        <input type="text" spellcheck="false">
                      </div>
                      <div class="row description">
                        <label>Description</label>
                        <textarea spellcheck="false"></textarea>
                      </div>
                      <button></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <li class="add-box">
                  <div class="icon"><i class="uil uil-plus"></i></div>
                  <p>Add new Itinerary</p>
                </li>
              </div>
            </div>
            <div class="tab-pane fade" id="delete-account" role="tabpanel">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Delete Account</h5>
                  <form action="/profile" method="POST">
                    <div class="form-group">
                      <label for="inputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" name="inputPassword"/>
                    </div>
                    <!-- <div class="form-group">
                      <label for="inputConfirmation">Confirmation</label>
                      <input
                        type="password"
                        class="form-control"
                        id="inputConfirmation"
                      />
                    </div> -->
                    <button type="submit" class="btn btn-danger" name="delete">Delete Account</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if error is defined and error != None %}
      <div class="toast fade-out">{{ error }}</div>
    {% endif %}
    
    <script src="static/js/add_itinerary.js"></script>
  </body>
</html>
